<div class="container">
    <div class="hero"></div>
  
    <div class="promoted">
      <img src="/assets/image/logo.png" alt="Friendly Robot Head" />
      <div class="promo-text">
        <div class="promo-main-text">Bienvenue chez Cake's Shop,</div>
        <div class="promo-sub-text cta">
          <div> où chaque bouchée est un délice sucré, faite avec amour et passion !</div>
          
        </div>
      </div>
      
     
    </div>

    <div class="new-text-section">
      <h2>Notre histoire</h2>
      <p>
        Pendant de nombreuses années, <b>Cake's Shop</b> a préparé les gâteaux les plus délicieux en Tunisie.
        En 2013, nous avons ouvert notre première boutique dans une petite rue charmante au cœur de Tunis.
        Les gens du monde entier sont tombés amoureux de nos moelleux gâteaux, nos cheesecakes divins et nos tartes aux
        pommes épicées...
        La boutique a rapidement connu un grand succès.</p>

       <p> En 2015, pas moins de 100 gâteaux étaient vendus chaque jour, et<b> Cake's Shop</b> a déménagé dans un espace plus grand
        pour répondre à <i>la demande croissante</i>.
        Suite à de nombreuses demandes, il est devenu évident que la prochaine étape était de permettre à chacun de
        commander nos gâteaux depuis chez eux, et ce, de n'importe où dans le monde.
        Vous découvrez maintenant le résultat de ce projet : notre propre boutique en ligne, vous permettant de
        commander les délicieux gâteaux de Cake's Shop à tout moment !
</p>
    </div>
  
    <ul class="robot-parts-cta">
      <li>
        <a class="part">
          <img src="/assets/image/products/strawberrycheesecakesmall.jpg" alt="Robot Arms" />
          <div> Cheesecakes aux fraises</div>
        </a>
      </li>
      <li>
        <a class="part">
          <img src="/assets/image/products/cheesecakesmall.jpg" alt="Robot Arms" />
          <div>Des petits cheesecakes</div>
        </a>
      </li>
      <li>
        <a class="part">
          <img src="/assets/image/products/cranberrypiessmall.jpg" alt="Robot Arms" />
          <div>Tartes aux canneberges</div>
        </a>
      </li>
      <li>
        <a class="part">
          <img src="/assets/image/products/pumpkinpiesmall.jpg" alt="Robot Arms" />
          <div>Tartes à la citrouille</div>
        </a>
      </li>
      
     
    </ul>
  
    <div class="white-paper">
      <img src="/assets/image/R (4).jpg" alt="Robot Apocalyse" />
      <div class="text">
        <div>
          <div class="header-text cta">Nos promotions hebdomadaires</div>
          
        </div>
        <div class="large-text">
          <p>Cheese cake</p>
          <p>Best seller!</p>
          <div class="sub-text">
            <p>30dt - 4 personnes</p>
        </div></div>
        <a href="" class="learn-more">Learn More</a>
      </div>
    </div>
    <footer class="footer">
      <p>Notre adresse est :</p>
      <p>Cake's Shop - Rue de la pâtisserie 216, Tunis, Tunisie</p>
      <p>2024 ENIT - All rights reserved</p>
    </footer>
  </div>